.SignInButton {

  background-color: white;

  border: 0;
  border-radius: 10px;
  border-color: white;

  color: steelblue;
  display: block;
  margin: 0 auto;

  margin-top: 2rem; 
  margin-bottom: 5rem;
  margin-left: 2rem;
  padding: 20px;

  -webkit-transition: background 0.2s;
  -o-transition: background 0.2s;
  transition: background 0.2s;

  font-family: 'helvetica neue', sans-serif;
  font-size: 20px;
  font-weight: 200;
  text-align: center;

  display: inline-block;

  position: relative;

  transition: color 0.25s;

}

.SignInButton::before,
.SignInButton::after {
  box-sizing: border-box;
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
}

.SignInButton:hover {
    background-color : lightskyblue;
    color: white;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}


.SignInButton::before,
.SignInButton::after {
  border: 2.5px solid transparent;
  border-radius: 10px;
  width: 0;
  height: 0;
}


.SignInButton::before {
  top: 0;
  left: 0;
}


.SignInButton::after {
  bottom: 0;
  right: 0;
}


.SignInButton:hover::before,
.SignInButton:hover::after {
  width: 100%;
  height: 100%;
}

.SignInButton:hover::before {
  border-radius: 10px;
  border-top-color: lime; 
  border-right-color: lime;
  transition:
    width 0.25s ease-out, 
    height 0.25s ease-out 0.25s; 
}

.SignInButton:hover::after {
  border-radius: 10px;
  border-bottom-color: lime;
  border-left-color: lime;
  transition:
    border-radius 10px,
    border-color 0s ease-out 0.5s, 
    width 0.25s ease-out 0.5s, 
    height 0.25s ease-out 0.75s;
}


.SignInButton::after {
  border-radius: 10px;
  top: 0;
  left: 0;
}

.SignInButton:hover::before {
  border-top-color: lime;
  border-right-color: lime;
  border-radius: 10px;
}

.SignInButton:hover::after {
  border-radius: 10px;
  border-bottom-color: lime;
  border-left-color: lime;
  transition: 
    height 0.25s ease-out,
    width 0.25s ease-out 0.25s;
}

.SignInButton span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.SignInButton span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.SignInButton:hover span {
  padding-right: 25px;
}

.SignInButton:hover span:after {
  opacity: 1;
  right: 0;
}

#leftmost {
  margin-left: 35rem;  
}

.logo {

  height : 34px;
  width : 34px;

  margin-left: 15px;

}

.SignIn{
  margin-top: 20rem;

  background-color: steelblue;

}

h1 {
  margin-bottom: -2rem;
  margin-top: 2rem;
  padding: 3rem;

  font-size: 400%;
}

h1, h3 {
  color: white;

  text-align: center;
}

